@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

:root {
  --main-font: 'Roboto';
  --page-background: linear-gradient(
    180deg,
    #d2d8ff,
    #fcd1ff,
    #ffc8e8,
    #ffc9b8,
    #ffdc87,
    #f9f871
  );
  --primary-color: #fc97a0;
  --secondary-color: black;
  --shape-color-light: #e6f4f1;
  --shape-color-dark: #ff8b1d;
  --home-text-shadow: 0.025em 0.025em 0.025em #345d94 #f7f8ff;
  --icon-text-shadow: 0.025em 0.025em 0.025em #f7f8ff;
  --section-header-text-shadow: 0.025em 0.025em 0 #2a3351,
    0.025em 0.025em 0 white, 0.025em 0.025em 0 #ff8bd1, 0.025em 0.025em 0 black;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

.dark-theme {
  --page-background: linear-gradient(120deg, #747b9e, #495071, #202a47);
  --primary-color: black;
  --secondary-color: #e6f4f1;

  --shape-color-light: #202a47;
  --shape-color-dark: #202a47;

  --home-text-shadow: 0.025em 0.025em 0.025em #e6f4f1;
  --icon-text-shadow: 0.025em 0.025em 0.025em #081e3b;

  --section-header-text-shadow: 0.025em 0.025em 0 #e6f4f1,
    0.025em 0.025em 0 black, 0.025em 0.025em 0 #081e3b, 0.025em 0.025em 0 white;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
  background: var(--page-background);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--shape-color-light);
  box-shadow: 0 0 10px var(--shape-color-light) inset;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  /* border-radius: 5px; */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
}

#home-section,
#about-section,
#project-section,
#contact-section {
  min-height: 100vh;
  color: var(--secondary-color);
  transition: color 0.7s ease-out;
  position: relative;
  overflow: hidden;
}

#home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-div {
  font-size: 3rem;
  text-shadow: var(--icon-text-shadow);
}

.about-div {
  margin-inline: 25em;
  margin-bottom: 5em;
  z-index: 1;
}

@media (max-width: 1124px) {
  .about-div {
    margin-inline: 5em;
  }
}

.span-about-me a {
  text-decoration: none;
  color: var(--shape-color-light);
}

.about-div h1 {
  font-size: 5rem;
  text-shadow: var(--icon-text-shadow);
  margin: 15px 7px;
}

.about-div p {
  line-height: 40px;
  font-size: 2.4rem;
  font-weight: 300;
  text-shadow: var(--home-text-shadow);
}

.about-div span {
  color: var(--primary-color);
}

.intro {
  display: flex;
  position: relative;
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .about-div h1 {
    font-size: 2.7rem;
    margin: 5px 3px;
  }

  .about-div p {
    line-height: 30px;
    font-size: 1.8rem;
  }
  .intro h1 {
    font-size: 2.7rem;
  }
}

@media (max-width: 450px) {
  .about-div h1 {
    font-size: 2.5rem;
    margin: 5px 3px;
  }

  .about-div p {
    line-height: 25px;
    font-size: 1.5rem;
  }
  .intro h1 {
    font-size: 2.5rem;
  }
}

.typing {
  position: relative;
  margin-left: 7px;
  color: var(--primary-color);
}

.typing::after {
  content: '';
  position: absolute;
  right: -4px;
  width: 4px;
  height: 100%;
  border-right: 1px solid var(--secondary-color);
  animation: blink 0.4s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.skills-div h2 {
  font-size: 3rem;
  color: var(--shape-color-light);
}

.skills-div h3 {
  font-size: 2rem;
}

.skills-div ul {
  position: relative;
  right: 40px;
  bottom: 10px;
}

.skills {
  display: flex;
  gap: 30px;
}

.skills li {
  display: inline-block;
}

.skills li:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transform: scale(1.1);
}

.list-item {
  font-size: 1.8rem;
}

.list-item {
  list-style-type: none;
  outline: 1px solid var(--secondary-color);
  outline-offset: 0em;
  color: var(--secondary-color);
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 5px;
}

.list-item:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.project-grid {
  display: grid;
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 200px;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 3.5rem;
  grid-row-gap: 5rem;
  z-index: 2;
}

.project-grid div {
  margin: 0 5rem;
  padding: 10rem 5rem;
  font-size: 1.7rem;
  color: var(--primary-color);
}

.project-name {
  text-align: center;
  text-shadow: var(--icon-text-shadow);
  font-size: 2rem;
  color: var(--secondary-color);
  text-decoration: none;
}

.project-item {
  cursor: pointer;
  position: relative;
  background-color: var(--secondary-color);
  background-size: cover;
  background-position: center;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
}

.project-item:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}

.project1 {
  background-image: url(./images/project1.png);
}
.project2 {
  background-image: url(./images/project2.png);
}
.project3 {
  background-image: url(./images/project3.png);
}
.project4 {
  background-image: url(./images/project4.png);
}
.project5 {
  background-image: url(./images/project5.png);
}

.contact-div h1 {
  font-size: 4.5rem;
}

.contact-div h2 {
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
}

.contact-flex {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 5%;
  justify-content: center;
  align-items: baseline;
}

.social-media {
  display: flex;
  position: relative;
  padding: -20px;
  margin-right: 30em;
}

.fas,
.fab {
  position: relative;
  right: 20px;
  transform: scale(3);

  margin-top: 2em;
  margin-right: 5em;
}

.fab,
.fas {
  color: var(--secondary-color);
}

.fas:hover,
.fab:hover {
  transform: scale(5);
}

#form {
  display: flex;
  flex-direction: column;
}

.form-div {
  max-width: 90vw;
  margin-bottom: 10em;
}

.send-info {
  display: flex;
}

.form-div input,
.form-div textarea {
  font-family: var(--main-font);
  height: 40px;
  margin: 0.5em 0;
  font-size: 1.6rem;
  padding: 0.3em 0.6em;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.form-div textarea {
  resize: vertical;
}

.form-div input:hover,
.form-div textarea:hover {
  outline: 3px groove var(--shape-color-light);
}

#submit {
  cursor: pointer;
  border: none;
  color: var(--shape-color-light);
}

#nav-bar {
  position: fixed;
  display: flex;
  min-height: 5vh;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--shape-color-light);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

.logo {
  color: var(--secondary-color);
  letter-spacing: 5px;
  font-size: 2.2rem;
  text-shadow: var(--icon-text-shadow);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.theme-icon {
  max-width: 30px;
  min-height: 30px;
  cursor: pointer;
  align-self: center;
  margin-left: 10px;
}

.nav-links a {
  font-size: 1.6rem;
  padding: 20px;
  text-decoration: none;
  letter-spacing: 3px;
  color: var(--secondary-color);
  font-weight: bold;
}

.nav-links a:hover {
  color: var(--shape-color-light);
  background: var(--secondary-color);
  border-radius: 5px;
}

.mobile-container div {
  width: 25px;
  height: 5px;
  background-color: var(--secondary-color);
  margin: 5px;
  transition: all 0.3s ease;
}

.mobile-container {
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 70%;
  }

  .contact-flex {
    flex-direction: column;
    gap: 50px;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    top: 10.5vh;
    height: 80vh;
    background-color: var(--shape-color-light);
    width: 40%;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    border-radius: 20px;
  }

  .nav-links li {
    opacity: 0;
  }

  .mobile-container {
    display: block;
    cursor: pointer;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .contact-div {
    text-align: center;
  }

  .contact-div h1 {
    font-size: 3.5rem;
  }

  .contact-div h2 {
    font-size: 2.5rem;
  }

  .fas,
  .fab {
    transform: scale(2);
    margin-right: 5em;
  }

  .fas:hover,
  .fab:hover {
    transform: scale(3);
  }

  .contact-flex {
    justify-content: center;
    align-items: center;
  }

  .social-media {
    padding: 10px 0;
    transform: translateX(180px);
  }

  .send-info {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .contact-div h1 {
    font-size: 2.5rem;
  }

  .contact-div h2 {
    font-size: 1.5rem;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-9px, 9px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.section-header {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 50px;
}

.section-header h2 {
  position: relative;
  font-size: 3.2rem;
  font-weight: 700;
  text-shadow: var(--section-header-text-shadow);
}

.section-header h2::after {
  content: '';
  width: 200px;
  height: 3px;
  background: linear-gradient(to right, #f44336, #9f4db5);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.section-header h2::after {
  animation-name: hrEffect;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.footer-section {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: var(--secondary-color);
  color: var(--shape-color-light);
  padding: 25px 0px;
  justify-content: space-evenly;
  font-size: 1.4rem;
}

.footer-section span {
  color: var(--shape-color-dark);
}

.bottom-shapeDark {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.bottom-shapeDark svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 227px;
  transform: rotateY(180deg);
}

.bottom-shapeDark .shape-fill {
  fill: var(--shape-color-dark);
}

.top-shapeDark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.top-shapeDark svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 227px;
  transform: rotateY(180deg);
}

.top-shapeDark .shape-fill {
  fill: var(--shape-color-dark);
}

.bottom-shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.bottom-shape svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 227px;
  transform: rotateY(180deg);
}

.bottom-shape .shape-fill {
  fill: var(--shape-color-light);
}

.top-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.top-shape svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 250px;
  transform: rotateY(180deg);
}

.top-shape .shape-fill {
  fill: var(--shape-color-light);
}
